---
layout: page
title: Invited Speakers
---
 <center><ul><br><br>
  <p><b>Invited speakers:</b></p>
  <li>Assoc. Prof. Rocco Martinazzo</li>
  <li>Dr. Oliver T. Unke</li>
  <li>Dr. Carla Verdi</li>
  <li>Asst. Prof. Alessandro Lunghi</li>
</ul>
<ul><br><br>
  <p><b>List of participants:</b></p>
Assoc. Prof. Reinhard Maurer
Dr. Oscar Douglas-Gallardo
Dr. Svenja Janke
<li>Dr. Julia Westermayr</li>
<li>Dr. Benedikt Klein</li>
<li>Wojciech Stark</li>
<li>Samuel Hall</li>
<li>Dylan Morgan</li>
<li>Shayantan Chaudhuri</li>
<li>Joseph Gilkes</li>
<li>Billal Sohail</li>
<li>James Gardner</li>
<li>Connor Box</li>
<li>Sarbani Patra</li>
<li>Prof. Alexandre Tkatchenko</li>
<li>Dr. Mario Galante</li>
<li>Pavlo Goriichuk</li>
<li>Dr. Igor Poltavskyi</li>
<li>Szabolcs Goger</li>
<li>Dr. Ornella Vaccarelli</li>
<li>Matej Ditte</li>
<li>Mirela Puleva</li>
<li>Alessio Fallani</li>
<li>Adil Kabylda</li>
<li>Kyunghoon Han</li>
<li>Dr. Leonardo Medrano Sandonas</li>
</ul></center>
<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      {% for post in site.posts %}
      {% include post.html %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->

<!-- clients -->
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Sponsors of DQML22</h2>
      </div>
    </div>
    {% include client-slider.html %}
  </div>
</section>
<!-- /clients -->
