---
layout: page
title: Speakers and participants
---
<center>
  <ul>
    <br><br><h3><b>Invited speakers:</b></h3><br>
    <p><b>Assoc. Prof. Rocco Martinazzo</b><br> University of Milan <br> Title: TBA</p>
    <p><b>Dr. Oliver T. Unke</b><br> Berlin Institute of Technology  <br> Title: TBA</p>
    <p><b>Dr. Carla Verdi</b><br> University of Vienna <br> Title: TBA</p>
    <p><b>Asst. Prof. Alessandro Lunghi</b><br> Trinity College Dublin <br> Title: TBA</p><br><br>
    <h3><b>List of participants:</b></h3><br>
    <li>Assoc. Prof. Reinhard Maurer</li>
    <li>Dr. Oscar Douglas-Gallardo</li>
    <li>Dr. Svenja Janke</li>
    <li>Dr. Julia Westermayr</li>
    <li>Dr. Benedikt Klein</li>
    <li>Wojciech Stark</li>
    <li>Samuel Hall</li>
    <li>Dylan Morgan</li>
    <li>Shayantan Chaudhuri</li>
    <li>Joseph Gilkes</li>
    <li>Billal Sohail</li>
    <li>James Gardner</li>
    <li>Connor Box</li>
    <li>Sarbani Patra</li>
    <li>Prof. Alexandre Tkatchenko</li>
    <li>Dr. Mario Galante</li>
    <li>Dr. Pavlo Goriichuk</li>
    <li>Dr. Igor Poltavskyi</li>
    <li>Szabolcs Goger</li>
    <li>Dr. Ornella Vaccarelli</li>
    <li>Matej Ditte</li>
    <li>Mirela Puleva</li>
    <li>Alessio Fallani</li>
    <li>Adil Kabylda</li>
    <li>Kyunghoon Han</li>
    <li>Dr. Leonardo Medrano Sandonas</li>
  </ul>
  <br>
</center>

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      {% for post in site.posts %}
      {% include post.html %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->

<!-- clients -->
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Sponsors of DQML22</h2>
      </div>
    </div>
    {% include client-slider.html %}
  </div>
</section>
<!-- /clients -->
