---
layout: page
title: Speakers and participants
---
<center>
  <ul>
    <br><br><h3><b>Invited speakers:</b></h3><br>
    <p><b>Assoc. Prof. Rocco Martinazzo</b><br> University of Milan <br> Title: TBA</p>
    <p><b>Dr. Oliver T. Unke</b><br> Berlin Institute of Technology  <br> Title: TBA</p>
    <p><b>Dr. Carla Verdi</b><br> University of Vienna <br> Title: Thermodynamic properties by on-the-fly machine-learned potentials within and beyond DFT.</p>
    <p><b>Asst. Prof. Alessandro Lunghi</b><br> Trinity College Dublin <br> Title: Spin-Phonon Relaxation: theory, ab initio simulations and machine-learning modelling. </p><br><br>
    <h3><b>List of participants:</b></h3><br>
    <li><b>Assoc. Prof. Reinhard Maurer</b></li>
    <li><b>Prof. Alexandre Tkatchenko</b></li>
    <li><b>Dr. Oscar Douglas-Gallardo</b></li>
    <i>Time-Dependent DFTB and Electronic Friction Theory to simulate light driven dynamics at plasmonic  metal surfaces/nanostructures</i>
    <li><b>Dr. Svenja Janke</b></li>
    <i>Constructing a Diabatic Hamiltonian for Surface Hopping Calculations at the Example of CO on Au(111)</i>
    <li><b>Dr. Julia Westermayr</b></li>
    <i>Development of machine learning to describe excited states of functional organic molecules for high-throughput screening</i>
    <li><b>Dr. Benedikt Klein</b></li>
    <i>DFT calculation of adsorption energies and heights at the metal/organic interface</i>
    <li><b>Wojciech Stark</b></li>
    <i>Generating machine learning models of nonadiabatic response for hydrogen dissociation dynamics at metal surfaces.</i>
    <li><b>Samuel Hall</b></li>
    <i>Revealing a self-interaction error from spurious charge transfer artefacts in core-level constrained x-ray spectroscopy of metal-organic interfaces</i>
    <li><b>Dylan Morgan</b></li>
    <i>Visualisation of aromaticity and antiaromaticity in macrocycles</i>
    <li><b>Shayantan Chaudhuri</b></li>
    <i>Towards Single Metal Atom Electrocatalysis on Diamond</i>
    <li><b>Joseph Gilkes</b></li>
    <i>Stacking the odds: Distribution-biased generative deep learning for targeted design of organic electronics</i>
    <li><b>Billal Sohail</b></li>
    <i>Understanding Long-range dispersion interactions in the presence of strong charge transfer at hybrid metal-organic interfaces.</i>
    <li><b>James Gardner</b></li>
    <i>NQCDynamics.jl: A framework for performing nonadiabatic molecular dynamics with the Julia language</i>
    <li><b>Connor Box</b></li>
    <i>Ab initio electronic friction to model energy dissipation on metallic surfaces</i>
    <li><b>Sarbani Patra</b></li>
    <li><b>Dr. Mario Galante</b></li>
    <i>Anisotropic polarization response and conformational search in polymers</i>
    <li><b>Dr. Pavlo Goriichuk</b></li>
    <i>Understanding of van der Waals forces in thin films of two-dimensional materials</i>
    <li><b>Dr. Igor Poltavskyi</b></li>
    <i>Towards ML models for complex systems of hundreds and thousands of atoms</i>
    <li><b>Szabolcs Goger</b></li>
    <i>Some practical and fundamental aspects of polarizability</i>
    <li><b>Dr. Ornella Vaccarelli</b></li>
    <i>Optimized quantum drude oscillators for atomic and molecular response proporties</i>
    <li><b>Matej Ditte</b></li>
    <i>Electronic systems embedded in charged quantum harmonic oscillators</i>
    <li><b>Mirela Puleva</b></li>
    <i>omprehensive analysis of machine-learning kernels for predicting molecular properties</i>
    <li><b>Alessio Fallani</b></li>
    <i>Towards the inverse design of molecules with targeted quantum-mechanical properties</i>
    <li><b>Adil Kabylda</b></li>
    <i>Towards accurate ML models for large and flexible molecules</i>
    <li><b>Kyunghoon Han</b></li>
    <i>Neural-network aided peak-detection algorithms</i>
    <li><b>Dr. Leonardo Medrano Sandonas</b></li>
    <i>Accurate many-body repulsive potentials for DFTB from deep tensor neural networks</i>
  </ul>
  <br>
</center>

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      {% for post in site.posts %}
      {% include post.html %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->

<!-- clients -->
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Sponsors of DQML22</h2>
      </div>
    </div>
    {% include client-slider.html %}
  </div>
</section>
<!-- /clients -->
